body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}

.wrapper {
  display: flex;
  overflow: hidden;
  width: 400vw;
  flex-direction: row;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%);
}

.slide {
  width: 400vw;
  height: 100vh;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  ); */
}

.footer {
  position: absolute;
  bottom: 0;
}

.header {
  position: absolute;
  top: 0;
}

.footer img {
  height: 200px;
  width: auto;
}

.building {
  border-radius: 20px 20px 0 0;
  display: inline-block;
}

.l1 {
  width: 130px;
  background: #4195b9;
}

.l2 {
  background: #7bbbd6;
  width: 90px;
}

.l3 {
  width: 60px;
  background: #99d2e9;
}

.bldg-wrp {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.layer-1 {
  justify-content: space-between;
}

.layer-2 {
  justify-content: space-around;
}

.layer-3 {
  justify-content: space-evenly;
}
